@use "../global.scss" as global;

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: global.$dark;
    color: global.$light;
    padding: 35px;

    h1 {
        text-transform: uppercase;
        font-size: 32px;
    }

    h4 {
        font-size: 22px;
    }

    p {
        width: 51%;
        line-height: 1.6;
        font-size: 18px;
        margin: 0 auto 30px auto;
        /* Centraliza o parágrafo e define uma margem inferior */
    }

    // Adicionando responsividade
    @media (max-width: 768px) {
        p {
            width: 80%;
            font-size: 1rem;
        }

        h1 {
            font-size: 2rem;
        }
    }

    @media (max-width: 480px) {
        p {
            width: 90%;
            font-size: 1rem;
        }

        h1 {
            font-size: 1.8rem;
        }
    }
}