@use "../global.scss" as global;

.cardapio {

    @media (max-width: 1024px) {
        width: 110%;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 32px;
            text-transform: uppercase;
        }



        &--subtitulo {
            font-size: 26px;
            color: global.$accent;
            margin-bottom: 15vh;

            @media (max-width: 1366px) {
                margin-bottom: 20vh;
                /* Ajuste para telas grandes */
            }

            @media (max-width: 1024px) {
                margin-bottom: 10vh;
                /* Ajuste para telas médias */
            }

            @media (max-width: 480px) {
                margin-bottom: 2vh;
                /* Ajuste para telas pequenas */
            }

        }

        &--button {
            border: 2px solid global.$accent;
            background: global.$accent;
            padding: 10px 16px;
            color: global.$light;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.2rem;
            border-radius: 28px;
        }
    }
}