// Variables
$light: #F7F7F7;
$dark: #000000;
$accent: #3d0112;
$text-light: #ffffff;
$text-dark: #333;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Urbanist";
    box-sizing: border-box;
    height: auto;
    user-select: none;
}

body {
    background-color: $light;
}

// .carousel {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     overflow: hidden; // Garantir que a imagem n칚o ultrapasse os limites do carrossel

//     .carousel-image {
//         width: 100%;
//         max-width: 57%; // Ajustar a largura da imagem para 100% da tela
//         height: auto; // Manter a propor칞칚o da imagem
//         border-radius: 10px;
//         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//         transition: transform 0.3s ease-in-out;
//     }

//     .arrow {
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         background: $light;
//         color: $dark;
//         border: none;
//         font-size: 24px;
//         padding: 12px 20px;
//         cursor: pointer;
//         border-radius: 50%;
//         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//         opacity: 0.7;
//         transition: opacity 0.3s ease;

//         &:hover {
//             opacity: 1;
//         }

//         &.left {
//             left: 22%; // Ajustar a posi칞칚o das setas para telas menores
//         }

//         &.right {
//             right: 22%; // Ajustar a posi칞칚o das setas para telas menores
//         }
//     }

//     // Responsividade para telas menores
//     @media (max-width: 768px) {
//         .arrow {
//             font-size: 20px; // Reduzir o tamanho da seta
//             padding: 10px 15px; // Ajustar o padding

//             &.left {
//                 left: 6%; // Ajustar a posi칞칚o das setas para telas menores
//             }

//             &.right {
//                 right: 6%; // Ajustar a posi칞칚o das setas para telas menores
//             }
//         }

//         .carousel-image {
//             max-width: 90%; // Ajustar a largura m치xima da imagem para telas menores
//         }
//     }

//     @media (max-width: 480px) {
//         .arrow {
//             font-size: 18px; // Diminuir ainda mais o tamanho das setas
//             padding: 8px 12px; // Ajustar o padding

//             &.left {
//                 left: 2%; // Ajustar a posi칞칚o das setas para telas menores
//             }

//             &.right {
//                 right: 2%; // Ajustar a posi칞칚o das setas para telas menores
//             }
//         }

//         .carousel-image {
//             max-width: 100%;
//             height: 28vh;
//         }
//     }
// }

.header {
    &__image {
        background-image: url("../../../public/banner.png");
        width: 100%;
        min-height: 60vh;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 50px;

        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;

        gap: 30%;

        @media (max-width: 768px) {
            height: 70vh;
        }

        @media (max-width: 480px) {
            height: 50vh;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6); // Ajuste a opacidade para mais ou menos blackout
            z-index: 1;
        }
    }

    span {
        z-index: 9;
        text-align: center;

        p {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
            color: $light;
        }

        img {
            width: 100%; // Aumento de 50% no tamanho da logo
            max-width: 600px; // Limita o tamanho m치ximo da logo
            height: auto;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        gap: 2rem;
        background-color: $accent;
        padding: 2px 20px;
        box-shadow: 0 0 20px 0px $dark;
        border-radius: 28px;
        position: relative; // Usado para o menu tradicional
        z-index: 1; // Fica na frente, vis칤vel nas telas maiores
        transition: opacity 0.3s ease, visibility 0.3s ease;

        li {
            font-size: 16px;
            text-transform: uppercase;
            cursor: pointer;
            transition: transform 0.3s ease;
            margin: 10px 0;

            a {
                color: $text-light;
                text-decoration: none;
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    @media (max-width: 1024px) {
        span {

            img {
                width: 500px;
            }
        }
    }

    @media (max-width: 768px) {
        span {

            img {
                width: 480px;
            }
        }
    }

    @media (max-width: 480px) {
        .header {
            &__image {
                height: 75vh;
            }
        }

        span {

            p {
                font-size: 12px;
            }
            img {
                width: 380px;
            }
        }

        ul {
            gap: 1.5rem;
            padding: 2px 14px;

            li {
                font-size: 15px;
            }
        }
    }


}

.headerEventos {
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a {
            img {
                width: 100%;
                max-width: 400px;
            }
        }

        &__ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            gap: 6rem;
            border-radius: 28px;
            position: relative; // Usado para o menu tradicional
            z-index: 1; // Fica na frente, vis칤vel nas telas maiores
            transition: opacity 0.3s ease, visibility 0.3s ease;

            li {
                font-size: 18px;
                text-transform: uppercase;
                cursor: pointer;
                transition: transform 0.3s ease;
                margin: 10px 0;

                a {
                    color: $text-light;
                    text-decoration: none;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .headerEventos__nav__ul {
            gap: 4rem; // Reduz o espa칞amento entre os itens do menu
        }

        .headerEventos__nav a img {
            max-width: 300px; // Diminui o tamanho da logo
        }
    }

    @media (max-width: 768px) {
        .headerEventos {
            padding: 10px;
        }

        .headerEventos__nav__ul {
            gap: 2rem;
        }

        .headerEventos__nav a img {
            max-width: 250px;
        }
    }

    @media (max-width: 480px) {
        .headerEventos {
            padding: 5px;
        }

        .headerEventos__nav__ul {
            gap: 2rem;
            padding-bottom: 8px;
        }

        .headerEventos__nav a img {
            padding-top: 14px;
            max-width: 320px;
        }

        .headerEventos__nav__ul li {
            font-size: 16px; // Diminui o tamanho da fonte do menu
        }
    }

}

footer {
    background-color: $dark;
    color: $text-light;
    position: relative;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 15px 15px 32px 15px;
        text-align: center;

        @media (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
        }

        .logo {
            img {
                width: 70vw; // Responsividade em telas menores
                max-width: 300px; // Limita o tamanho m치ximo da logo
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .social {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin-bottom: 15px;
            flex-direction: column;

            a {
                color: $light;
                text-decoration: none;
                font-size: 1.8rem;
                padding: 10px;
                border-radius: 30px;
                border: 2px solid $light;
                transition: all 0.3s ease;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                &:hover {
                    background-color: $text-light;
                    color: $dark;
                    border-color: $text-light;
                }
            }

            p {
                user-select: text !important;
            }
        }

        .location {
            iframe {
                border: 0;
                width: 100%;
                height: 200px;
                border-radius: 8px;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.desenvolvidoPor {
    width: 100%;
    background-color: #252525;
    height: 20px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;

    &__icon {
        position: absolute;
        top: -30px; // Centraliza o tri칙ngulo acima da div
        left: 50%;
        transform: translateX(-50%);
        background-color: #252525;
        width: 80px;
        height: 40px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%); // Cria um tri칙ngulo
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50%;
            height: 50%;
        }
    }

    p {
        color: #d8d8d8;
        font-size: 14px;
        margin: 0;
        position: relative;
        width: 100%;
        z-index: 9;

        a {
            color: #1190cb;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.lado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5rem;

    hr {
        height: 12rem;
        border-color: transparent;
        background-color: rgb(219, 219, 219);
        border-radius: 28px;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        padding: 3rem 2rem 3rem 2rem;
    }
}


.formEventos-Galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

.form-container {
    background-color: $light;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 0px rgb(197 197 197);
    width: 100%;
    max-width: 450px;
    margin: auto;
    text-align: center;
}

/* 游늷 Estilos para a Galeria */
.formEventos-Galeria__galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 800px;
    padding: 0px !important;

    img {
        width: 100%;
        height: 263px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
}

.lightbox-content img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}




h2 {
    color: $dark;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 16px;
    color: $dark;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: $accent;
}

button.submit-btn {
    background-color: $accent;
    text-transform: uppercase;
    color: $text-light;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

button.submit-btn:hover {
    // background-color: $azulHover;
}

/* Responsividade */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    input {
        font-size: 14px;
    }

    button.submit-btn {
        padding: 12px 20px;
    }
}

@media (max-width: 480px) {
    .form-container {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    input {
        font-size: 14px;
    }

    button.submit-btn {
        padding: 12px 18px;
        font-size: 16px;
    }
}